
body {
    margin: 0;
    padding: 0;
  }
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #fdfdcd;
  padding: 30px 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Georgia, serif;
  font-size: 28px;
  color: #472560;
}
h3 {
  font-family: Georgia, serif;
  color: #4b4f4e;
}
p {
  font-family: Georgia, serif;
  color: #4b4f4e;
}
h2 {
  position: absolute;
  top: 75px;
  left: 40px;
  z-index: 1000;
  font-family: Georgia, serif;
  font-size: 13px;
  color: #cc3300;
}
#bahaimg1 {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 7%;
  height: 20%;
}
#bahaimg2 {
  position: absolute;
  top: 20px;
  right: 125px;
  z-index: 1000;
  width: 7%;
  height: 20%;
}
